<div id="wrapper">
  <header id="header" class="site-header">
    <div class="container">
      <div class="wrapper-header-top">
        <div class="logo">
          <a href="#">
<!--            <img src="assets/banner-logo.jpg">-->
          </a>
        </div>
      </div>
    </div><!-- .container -->
    <nav class="wapper-menu">
      <div class="container">
        <div class="main-menu">
          <ul>
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Dịch vụ sửa chữa</a></li>
            <li><a href="#">Tư vấn sản phẩm</a></li>
          </ul>
        </div>
      </div>
    </nav><!-- .main-menu -->
  </header><!-- .site-header -->

  <main id="main" class="site-main">
    <div class="container">
      <div class="wrapper-site-main">
        <div class="row">
          <div class="col-md-3">
            <div class="sidebar">
              <aside>
                <div class="widget-sitebar">
                  <h3 class="widget-title">Danh Mục Sản Phẩm</h3>
                  <div class="content-widget">
                    <ul>
                      <li><a href="#">Sản phẩm nhà bếp</a></li>
                      <li><a href="#">Sản phẩm nhà bếp</a></li>
                      <li><a href="#">Sản phẩm nhà bếp</a></li>
                      <li><a href="#">Sản phẩm nhà bếp</a></li>
                      <li><a href="#">Sản phẩm nhà bếp</a></li>
                    </ul>
                  </div>
                </div>
              </aside>
              <aside>
                <div class="widget-sitebar">
                  <h3 class="widget-title">Danh Mục Sản Phẩm</h3>
                  <div class="content-widget">
                    <ul>
                      <li><a href="#">Sản phẩm nhà bếp</a></li>
                      <li><a href="#">Sản phẩm nhà bếp</a></li>
                      <li><a href="#">Sản phẩm nhà bếp</a></li>
                      <li><a href="#">Sản phẩm nhà bếp</a></li>
                      <li><a href="#">Sản phẩm nhà bếp</a></li>
                    </ul>
                  </div>
                </div>
              </aside>
              <aside>
                <div class="widget-sitebar">
                  <h3 class="widget-title">Bài viết</h3>
                  <div class="content-widget-post">
                    <ul>
                      <li>
                        <div class="thumbnail-post">
                          <a href="#">
                            <img src="assets/product.jpg">
                          </a>
                        </div>
                        <div class="widget-sidebar-post">
                          <h5 class="title-post-widget">Sản phẩm được mua nhiều</h5>
                        </div>
                      </li>
                      <li>
                        <div class="thumbnail-post">
                          <a href="#">
                            <img src="assets/product.jpg">
                          </a>
                        </div>
                        <div class="widget-sidebar-post">
                          <h5 class="title-post-widget">Sản phẩm được mua nhiều</h5>
                        </div>
                      </li>
                      <li>
                        <div class="thumbnail-post">
                          <a href="#">
                            <img src="assets/product.jpg">
                          </a>
                        </div>
                        <div class="widget-sidebar-post">
                          <h5 class="title-post-widget">Sản phẩm được mua nhiều</h5>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </aside>
            </div> <!-- .sidebar -->
          </div>
          <div class="col-md-9">
            <div class="main-content">
              <div class="wrapper-products">
                <div class="headding-products">
                  <h4>ĐỒ TRONG BẾP</h4>
                </div>
                <div class="row flex-row">
                  <div class="col-md-3 flex-col">
                    <div class="product">
                      <div class="image-feature-product">
                        <img src="assets/product.jpg">
                      </div>
                      <div class="info-product">
                        <h4 class="title-product">
                          <a href="#">Đồ bếp tổng hợp</a>
                        </h4>
                        <a class="add-to-cart" href="">Mua hàng</a>
                      </div>
                    </div>
                  </div> <!-- col-md-3 flex-col -->
                  <div class="col-md-3 flex-col">
                    <div class="product">
                      <div class="image-feature-product">
                        <img src="assets/product.jpg">
                      </div>
                      <div class="info-product">
                        <h4 class="title-product">
                          <a href="#">Đồ bếp tổng hợp </a>
                        </h4>
                        <a class="add-to-cart" href="">Mua hàng</a>
                      </div>
                    </div>
                  </div> <!-- col-md-3 flex-col -->
                  <div class="col-md-3 flex-col">
                    <div class="product">
                      <div class="image-feature-product">
                        <img src="assets/product.jpg">
                      </div>
                      <div class="info-product">
                        <h4 class="title-product">
                          <a href="#">Đồ bếp tổng hợp</a>
                        </h4>
                        <a class="add-to-cart" href="">Mua hàng</a>
                      </div>
                    </div>
                  </div> <!-- col-md-3 flex-col -->
                  <div class="col-md-3 flex-col">
                    <div class="product">
                      <div class="image-feature-product">
                        <img src="assets/product.jpg">
                      </div>
                      <div class="info-product">
                        <h4 class="title-product">
                          <a href="#">Đồ bếp tổng hợp</a>
                        </h4>
                        <a class="add-to-cart" href="">Mua hàng</a>
                      </div>
                    </div>
                  </div> <!-- col-md-3 flex-col -->
                </div>
              </div> <!-- .wrapper-products -->
              <div class="wrapper-products">
                <div class="headding-products">
                  <h4>KÍNH NGHỆ THUẬT</h4>
                </div>
                <div class="row flex-row">
                  <div class="col-md-3 flex-col">
                    <div class="product">
                      <div class="image-feature-product">
                        <img src="assets/product.jpg">
                      </div>
                      <div class="info-product">
                        <h4 class="title-product">
                          <a href="#">Đồ bếp tổng hợp</a>
                        </h4>
                        <a class="add-to-cart" href="">Mua hàng</a>
                      </div>
                    </div>
                  </div> <!-- col-md-3 flex-col -->
                  <div class="col-md-3 flex-col">
                    <div class="product">
                      <div class="image-feature-product">
                        <img src="assets/product.jpg">
                      </div>
                      <div class="info-product">
                        <h4 class="title-product">
                          <a href="#">Đồ bếp tổng hợp </a>
                        </h4>
                        <a class="add-to-cart" href="">Mua hàng</a>
                      </div>
                    </div>
                  </div> <!-- col-md-3 flex-col -->
                  <div class="col-md-3 flex-col">
                    <div class="product">
                      <div class="image-feature-product">
                        <img src="assets/product.jpg">
                      </div>
                      <div class="info-product">
                        <h4 class="title-product">
                          <a href="#">Đồ bếp tổng hợp</a>
                        </h4>
                        <a class="add-to-cart" href="">Mua hàng</a>
                      </div>
                    </div>
                  </div> <!-- col-md-3 flex-col -->
                  <div class="col-md-3 flex-col">
                    <div class="product">
                      <div class="image-feature-product">
                        <img src="assets/product.jpg">
                      </div>
                      <div class="info-product">
                        <h4 class="title-product">
                          <a href="#">Đồ bếp tổng hợp</a>
                        </h4>
                        <a class="add-to-cart" href="">Mua hàng</a>
                      </div>
                    </div>
                  </div> <!-- col-md-3 flex-col -->
                </div>
              </div> <!-- .wrapper-products -->
            </div> <!-- .main-content -->
          </div>
        </div>


      </div>

    </div><!-- .container -->
  </main><!-- .site-main -->

  <footer id="footer" class="site-footer">
    <div class="container">
      <div class="footer-top">
        <div class="row">
          <div class="col-md-3">
            <div class="footer-widget">
              <h2 class="footer-title-widget">CAM KẾT BÁN HÀNG</h2>
              <div class="content-footer-widget">
                <ul>
                  <li><a>Khách hàng là thượng đế</a></li>
                  <li><a>Sản Phẩm chính hãng</a></li>
                  <li><a>Bảo hành lâu dài</a></li>
                  <li><a>Minh bạch về giá</a></li>
                  <li><a>Không phát sinh phụ phí</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-widget">
              <h2 class="footer-title-widget">HỖ TRỢ KHÁCH HÀNG</h2>
              <div class="content-footer-widget">
                <ul>
                  <li><a>Khách hàng là thượng đế</a></li>
                  <li><a>Sản Phẩm chính hãng</a></li>
                  <li><a>Bảo hành lâu dài</a></li>
                  <li><a>Minh bạch về giá</a></li>
                  <li><a>Không phát sinh phụ phí</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-widget widget-info-box">
              <h2 class="footer-title-widget">LIÊN HỆ MUA HÀNG</h2>
              <div class="content-footer-widget">
                <ul class="if-round">
                  <li>
                    <div class="if-icon"> <i class="fa fa-map-marker"></i></div>
                    <div class="if-content">
                      <h3><a title="ADDRESS" href="#">Địa chỉ</a></h3>
                      <p> 1908 Street Name, City Name, United States</p>
                    </div>
                  </li>
                  <li>
                    <div class="if-icon"> <i class="fa fa-phone"></i></div>
                    <div class="if-content">
                      <h3><a title="PHONE" href="#">Số điện thoại</a></h3>
                      <p> +1 (008) 789 77 35</p>
                    </div>
                  </li>
                  <li>
                    <div class="if-icon"> <i class="fa fa-envelope-o"></i></div>
                    <div class="if-content">
                      <h3><a title="EMAIL" href="#">Email</a></h3>
                      <p> info@orsontheme.com</p>
                    </div>
                  </li>
                  <li>
                    <div class="if-icon"> <i class="fa fa-clock-o"></i></div>
                    <div class="if-content">
                      <h3><a title="WORKING DAYS/HOURS" href="#">Giờ làm việc</a></h3>
                      <p> Mon - Sun / 9:00 AM - 8:00 PM</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-widget connect-us">
              <h2 class="footer-title-widget">KẾT NỐI VỚI CHÚNG TÔ</h2>
              <div class="content-footer-widget">
                <ul>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div> <!-- end footer top -->
      <div class="footer-bootom">
        <div class="copy-right">
          <p>Bản quyền thuộc ..............</p>
        </div>

      </div>
    </div><!-- .container -->
  </footer><!-- site-footer -->
</div>
